<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pet Paradise</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/custom")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Pet Paradise", "Index", "Home", new { Area = string.Empty }, new { @class = "navbar-brand page-logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu">
                    <li>@Html.ActionLink("Начало", "Index", "Home", new { Area = string.Empty }, new { @class = "" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            Още...
                            <ul>
                                <li>@Html.ActionLink("Добави любимец", "Add", "Pets", new { Area = string.Empty }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Всички любимци", "All", "Pets", new { Area = string.Empty }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Нова резервация", "Add", "Reservations", new { Area = string.Empty }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Всички резервации", "All", "Reservations", new { Area = string.Empty }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Всички породи", "Index", "Breeds", new { Area = string.Empty }, new { @class = "" })</li>
                            </ul>
                        </li>
                        if (User.IsInRole("Admin"))
                        {
                            // all reservations
                            // all species
                            // all users
                        }
                    }
                    <li>@Html.ActionLink("За нас", "About", "Home", new { Area = string.Empty }, new { @class = "" })</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home", new { Area = string.Empty }, new { @class = "" })</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - Pet Paradise&reg;</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('#menu').kendoMenu();
        })
    </script>
</body>
</html>
