@model PetParadise.Web.ViewModels.Pets.AddPetViewModel
@{
    ViewBag.Title = "Добави любимец";
}

<h2>@ViewBag.Title</h2>
@using (@Html.BeginForm("Add", "Pets", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Age)
    @Html.EditorFor(m => m.SpeciesId, new { ListItem = Model.Species })
    @Html.EditorFor(m => m.BreedId, new { ListItem = Model.Breeds })
    @Html.EditorFor(m => m.AdditionalInfo)
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.UploadedImage)
        </div>
        <div class="col-md-5">
            <input type="file" name="UploadedImage" />
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-default" value="Добави" />
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#SpeciesId").change(function () {
                var self = $(this);
                var items = "";
                $.getJSON("@Url.Action("GetBreedsJson", "Pets")/" +
                    self.val(), function (data) {
                        $.each(data, function (index, item) {
                            items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                        });
                        $("#BreedId").html(items);
                    });
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}