@model PetParadise.Web.ViewModels.Pets.AddPetViewModel
@{
    ViewBag.Title = "Добави любимец";
}

<h2>@ViewBag.Title</h2>
@using (@Html.BeginForm("Add", "Pets", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Age)
    @Html.EditorFor(m => m.SpeciesId, new { ListItem = Model.Species })
    @Html.EditorFor(m => m.BreedId, new { ListItem = Model.Breeds })
    @Html.EditorFor(m => m.AdditionalInfo)

    <input type="submit" class="btn btn-default" value="Добави" />
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#SpeciesId").change(function () {
                var self = $(this);
                var items = "";
                $.getJSON("@Url.Action("GetBreedsJson", "Pets")/" +
                    self.val(), function (data) {
                        $.each(data, function (index, item) {
                            items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                        });
                        $("#BreedId").html(items);
                    });
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}